@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d3d9ki');
  src:  url('fonts/icomoon.eot?d3d9ki#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d3d9ki') format('truetype'),
    url('fonts/icomoon.woff?d3d9ki') format('woff'),
    url('fonts/icomoon.svg?d3d9ki#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}
.icon-logo-responsive:before {
  content: "\e901";
}
.icon-cart-bag:before {
  content: "\e913";
}
.icon-cash:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e915";
}
.icon-confirm:before {
  content: "\e916";
}
.icon-credit-card:before {
  content: "\e917";
}
.icon-ellipsis-h:before {
  content: "\e918";
}
.icon-ellipsis-v:before {
  content: "\e919";
}
.icon-email:before {
  content: "\e91a";
}
.icon-exclamation:before {
  content: "\e91b";
}
.icon-facebook:before {
  content: "\e91c";
}
.icon-account:before {
  content: "\e91d";
}
.icon-add:before {
  content: "\e91e";
}
.icon-barcode1:before {
  content: "\e91f";
}
.icon-caret-down:before {
  content: "\e920";
}
.icon-caret-left:before {
  content: "\e921";
}
.icon-caret-right:before {
  content: "\e922";
}
.icon-caret-up:before {
  content: "\e923";
}
.icon-subtract:before {
  content: "\e924";
}
.icon-trash:before {
  content: "\e925";
}
.icon-up-chevron:before {
  content: "\e926";
}
.icon-youtube:before {
  content: "\e927";
}
.icon-information:before {
  content: "\e928";
}
.icon-instagram:before {
  content: "\e929";
}
.icon-left-chevron:before {
  content: "\e92a";
}
.icon-phone1:before {
  content: "\e92b";
}
.icon-print:before {
  content: "\e92c";
}
.icon-right-chevron:before {
  content: "\e92d";
}
.icon-search:before {
  content: "\e92e";
}
.icon-shipping:before {
  content: "\e92f";
}
.icon-sign-in:before {
  content: "\e930";
}
.icon-sort:before {
  content: "\e931";
}
