@font-face {
    font-family: "hfont";
    src: url("./hfont.eot");
    src: url("./hfont.eot?#iefix") format("embedded-opentype"),
        url("./hfont.woff") format("woff"),
        url("./hfont.ttf") format("truetype"),
        url("./hfont.svg#hfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "hfont";
        src: url("./hfont.svg#hfont") format("svg");
    }
}

[class^="icon"] {
    display: block;
}

[data-icon]:before,
[class^="icon"]:before {
    display: inline-block;
    font-family: "hfont";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

[data-icon]:before {
    content: attr(data-icon);
}

/* ICONS */
