body,
html {
    font-size: 16px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d0cfcd;
    color: #313333;
}

body {
    max-width: 767px;
    margin: 0 auto;
}

span[class*="icon-"] {
    font-size: 3em;
    margin-right: 10px;
}

body.site {
    max-width: 1140px;
}

.ui-main {
    padding: 1rem;
}
