@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nnr6u');
  src:  url('fonts/icomoon.eot?nnr6u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nnr6u') format('truetype'),
    url('fonts/icomoon.woff?nnr6u') format('woff'),
    url('fonts/icomoon.svg?nnr6u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e90e";
}
.icon-add:before {
  content: "\e902";
}
.icon-remove:before {
  content: "\e90d";
}
.icon-delete:before {
  content: "\e903";
}
.icon-forward:before {
  content: "\e904";
}
.icon-chevron-left:before {
  content: "\e909";
}
.icon-chevron-right:before {
  content: "\e90a";
}
.icon-print:before {
  content: "\e905";
}
.icon-update:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e90b";
}
.icon-chevron-down:before {
  content: "\e90c";
}
.icon-credit_card:before {
  content: "\e907";
}
.icon-forward_to_inbox:before {
  content: "\e908";
}
.icon-email:before {
  content: "\f003";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-info:before {
  content: "\f129";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-cash:before {
  content: "\e900";
}
.icon-barcode:before {
  content: "\e901";
}
