:root {
    --icon-font-family: "hfont";
    --icon-content-account: "\e001";
    --icon-content-add: "\e002";
    --icon-content-caret-down: "\e003";
    --icon-content-caret-left: "\e004";
    --icon-content-caret-right: "\e005";
    --icon-content-caret-up: "\e006";
    --icon-content-email: "\e007";
    --icon-content-facebook: "\e008";
    --icon-content-google-inverted: "\e009";
    --icon-content-google: "\e00a";
    --icon-content-heart-o: "\e00b";
    --icon-content-heart: "\e00c";
    --icon-content-instagram-inverted: "\e00d";
    --icon-content-instagram: "\e00e";
    --icon-content-left-chevron: "\e00f";
    --icon-content-linkedin: "\e010";
    --icon-content-logo-responsive: "\e011";
    --icon-content-logo: "\e012";
    --icon-content-phone1: "\e013";
    --icon-content-pinterest: "\e014";
    --icon-content-right-chevron: "\e015";
    --icon-content-search: "\e016";
    --icon-content-shopping-cart: "\e017";
    --icon-content-sort: "\e018";
    --icon-content-star: "\e019";
    --icon-content-subtract: "\e01a";
    --icon-content-up-chevron: "\e01b";
}
@font-face {
    font-family: "hfont";
    font-display: swap;
    src: url("./hfont.eot?v=61eb3ada5567bd6ee22d3c2");
    src: url("./hfont.eot?v=61eb3ada5567bd6ee22d3c2#iefix") format("embedded-opentype"),
        url("./hfont.woff?v=61eb3ada5567bd6ee22d3c2") format("woff"),
        url("./hfont.ttf?v=61eb3ada5567bd6ee22d3c2") format("truetype"),
        url("./hfont.svg?v=61eb3ada5567bd6ee22d3c2#hfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "hfont";
        font-display: swap;
        src: url("./hfont.svg?v=61eb3ada5567bd6ee22d3c2#hfont") format("svg");
    }
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: hfont !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
    content: attr(data-icon);
}

.icon-account:before { content: "\e001"}
.icon-add:before { content: "\e002"}
.icon-caret-down:before { content: "\e003"}
.icon-caret-left:before { content: "\e004"}
.icon-caret-right:before { content: "\e005"}
.icon-caret-up:before { content: "\e006"}
.icon-email:before { content: "\e007"}
.icon-facebook:before { content: "\e008"}
.icon-google-inverted:before { content: "\e009"}
.icon-google:before { content: "\e00a"}
.icon-heart-o:before { content: "\e00b"}
.icon-heart:before { content: "\e00c"}
.icon-instagram-inverted:before { content: "\e00d"}
.icon-instagram:before { content: "\e00e"}
.icon-left-chevron:before { content: "\e00f"}
.icon-linkedin:before { content: "\e010"}
.icon-logo-responsive:before { content: "\e011"}
.icon-logo:before { content: "\e012"}
.icon-phone1:before { content: "\e013"}
.icon-pinterest:before { content: "\e014"}
.icon-right-chevron:before { content: "\e015"}
.icon-search:before { content: "\e016"}
.icon-shopping-cart:before { content: "\e017"}
.icon-sort:before { content: "\e018"}
.icon-star:before { content: "\e019"}
.icon-subtract:before { content: "\e01a"}
.icon-up-chevron:before { content: "\e01b"}
